# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Secrets
.env

# VS Code & IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Heroku
*.orig

# System files
Thumbs.db
