{% extends 'base.html' %}
{% block content %}
<a class="main-title" href="/">성경 GPT</a>
<div class="kist-container">
  <div class="bust">
    <img src="/static/img/bible.png">
  </div>
  <p id="intro-message">"무엇이든 성경으로 답변해드리는 성경 GPT라고 합니다."</p>
  <div style="margin: 20px 0; color: #aaa;" class="remaining-queries">예: 문신을 해도 되나요?
  </div>
  <form class="create-form" method="post" onsubmit="showLoading()">
      {% csrf_token %}
      <input class="text-input" id="prompt" type="text" placeholder="무엇이든 물어보세요" name="prompt" value="{{ prompt }}" maxlength="150" required>
      <br>
      <button type="submit" id="ask" class="buttonload">
          <i class="fa fa-spinner fa-spin" id="spinner" style="display:none; margin-right: 8px;"></i>
          <span id="buttontext">질문하기</span>
      </button>
  </form>
</div>

<script type="text/javascript"> 
  let text = document.getElementById('gen_message').innerHTML;
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }

// Get the input field
var input = document.getElementById("prompt");

// Execute a function when the user presses a key on the keyboard
input.addEventListener("keypress", function(event) {
  // If the user presses the "Enter" key on the keyboard
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("ask").click();
  }
});

  function disableButton() {
    const buttonText = document.getElementById('buttontext');
    const spinner = document.getElementById('spinner');

    // Change button text to 'Loading'
    buttonText.innerText = '로딩중...';

    // Show the spinner
    spinner.style.display = 'inline-block';
  }

  function showLoading() {
      const buttonText = document.getElementById('buttontext');
      const spinner = document.getElementById('spinner');

      // Change button text to 'Loading'
      buttonText.innerText = '로딩중...';

      // Show the spinner
      spinner.style.display = 'inline-block';

      // Disable the button to prevent multiple clicks
      document.getElementById('ask').disabled = true;
  }

</script> 
{% endblock %}